.TimeNavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.Navbtn img{
    background-color: transparent;
    padding: 1rem;
    border-radius: 0.45rem;
}

.ViewList{
    display: flex;
    width: 100%;
    position: relative;
}

.ViewList ul{
    list-style: none;
    padding: 70px 0px 0px 0px;
}

.ViewList li{
    padding:0 0.4rem 1rem 0.2rem;
    border-right: 1px solid lightgray;
}

.ViewListDetail{
    display: inline-flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.ViewListTimeDetail{
    display: inline-flex;
    text-align: center;
    width: 100%;
}

.ViewListDetail ul{
    padding-top: 70px;
}

.precipitation{
    background-color: #E9ECED;
    padding: 0.1rem;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.ViewChart{
    display: flex;
    width: 100%;
}

.ViewChartDetail{
    display: inline-flex;
    text-align: center;
    overflow: scroll;
    overflow-y: hidden;
}

.ViewChart ul{
    list-style: none;
    padding: 0;
}

.ViewChart li{
    padding:0 0.2rem 1rem 0.2rem;
    border-right: 1px solid lightgray;
}

.ViewTable ul{
    list-style: none;
    display: flex;
    padding: 0;
}

.ViewTable li{
    padding:0 0.2rem 1rem 0.2rem;
    border-bottom: 1px solid lightgray;
}


.floatBox{
    display: inline-flex;
    position: sticky;
    top:0;
    left: 0;
    z-index: 10;
    line-height: 35px;
    box-sizing: border-box;
}

.floatDate{
    background-color: cornflowerblue;
    border-radius: 8px;
    width: 80px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: white;
    position: sticky;
    top: 0;
}

.floatDate:after{
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-top:17px solid cornflowerblue;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-bottom: -20px;
    margin-left: -60px;
    content: "";
    
}

