.TimeNavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.Navbtn button{
    background-color: transparent;
    padding: 1rem;
    border-radius: 0.45rem;
    margin: 0.2rem;
}

.ViewList{
    width: 100%;
    overflow-y: scroll;
}

.ViewListDetail{
    display: inline-flex;
    text-align: center;
}

.ViewListDetail ul{
    list-style: none;
    padding: 0;
}

.ViewListDetail li{
    
    padding:0 0.4rem 1rem 0.2rem;
    border-right: 1px solid lightgray;
}

.precipitation{
    background-color: #E9ECED;
    padding: 0.1rem;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.ViewChart{
    width: 100%;
    overflow: scroll;
}

.ViewChartDetail{
    display: inline-flex;
    text-align: center;
}

.ViewChartDetail ul{
    list-style: none;
    padding: 0;
}

.ViewChartDetail li{
    padding:0 0.2rem 1rem 0.2rem;
    border-right: 1px solid lightgray;

}